* {
  margin: 0;
  padding: 0;
}

iframe {
    border: 0;
}

html{
    height:100%;
}

body {
    height:100%;
    background-color: #fff;
    color: #122621;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align:center;
    line-height:1.5;
}

input {
        color: #122621;
        font-family: 'Space Mono', monospace;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
        font-variant-ligatures: none;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 6em;
    color: #fff;
    line-height:1;
    font-weight: 700;
    text-shadow:8px 8px #0A1E2D;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom:20px;
    font-family: 'Space Mono', monospace;
}

h3 {
    font-size: 1em;
    font-weight: 800;
    color: #04110D;
    padding-bottom:10px;
}

p{
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}

a {
    color: #122621;
}

a:hover{
    color:#122621;
}

fieldset {
    border: none;
}

input, textarea {
    font-size: 16px;
}


.hidden {
    display: none;
}

.section{
    padding-top:50px;
    padding-bottom:50px;
}

.content{
    max-width:1200px;
    margin:auto;
}

.whole-content {
    display: inline;
}

.whole-content.hidden {
    display: none;
}


/*** Navigation ***/

#nav{
    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row; /* IE 10 */
    flex-direction: row;
    
    justify-content: space-around;
    align-items:center;
    
    background-color: rgba(4,43,84,.6);
    height:40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#nav a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}


/*** Hero image ***/

#hero-img{
    background-image:url(img/trees.png);
    height:50%;
    width: 100%;
    /*Center and scale*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-title {
    text-align: center;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
}

button.login {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #042B54;
    padding: 5px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    margin-top: 5px;
}

button.login:visited {
    color: white;
    text-decoration: none;
}

button.login:hover {
    background-color: #0A1E2D;
    box-shadow: #888 1px 1px 1px;
    text-decoration: none;
}

button.login:active {
    color: black;
    background-color:white;
    text-decoration: none;
}

/*** rsvp ***/

.rsvp{
    text-align: center;
}

.rsvp-object{
    margin-bottom:30px;
}

.rsvp-form{
    text-align: left;
    display: inline-block;
    padding-bottom: 40px;
}

.rsvp-form .choice {
    display: inline-block;
    margin-right: 30px;
    margin-left: 20px;
    width:100px;
    height:40px;
    text-align: center;
}

.rsvp-form .attending label, .rsvp-form .attending input {
    display:block;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.rsvp-form input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.rsvp-form input[type="radio"]:checked + label {
    background: #042B54;
    color: white;
    border:none;
}

.rsvp-form .attending label {
     padding:5px;
     border:1px solid #CCC; 
     cursor:pointer;
     z-index:90;
     border-radius: 5px;
}

.rsvp-form .attending label:hover {
     background:#DDD;
}

.rsvp-form .email {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.rsvp-form .names {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
    float: left;
}

.rsvp-form .namesWrap .spacer {
    float: left;
    width: 20px;
}

.rsvp-form .namesWrap .xbutton {
    float: left;
    width: 20px;
    text-align: center;
    cursor: pointer;
    color: darkred;
}

.rsvp-form .guest_count {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    opacity: .6;
    color: black;
    cursor: none;
}

.error {
    color: red;
}

.rsvp-form div.more {
    color: blue;
    cursor: pointer;
    margin-top: 5px;
    clear: both;
}

input.rsvp_button {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #042B54;
    padding: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    margin-top: 5px;
}

input.rsvp_button:visited {
    color: white;
    text-decoration: none;
}

input.rsvp_button:hover {
    background-color: #0A1E2D;
    box-shadow: #888 1px 1px 1px;
    text-decoration: none;
}

input.rsvp_button:active {
    color: black;
    background-color:white;
    text-decoration: none;
}

input:disabled {
    background-color:grey;
    opacity:.6;
    color: black;
    cursor: none;
}

.form_error {
    color: red;
    font-size: .8em;
}

h2.success {
    padding-top: 20px;
}
/*** Footer ***/

#footer{
    color:#fff;
    background-color: rgba(4,43,84,1);
    font-size: 0.7em;

}

#footer-imgs{
    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row; /* IE 10 */
    flex-direction:row;
}

.footer-img{
    width:33%;
}

.footer-img.last {
    width:34%;
}

#footer p{
    padding-top:10px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(4,43,84,1); /* Black w/ opacity */
    background-image: url("img/login_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Space Mono', monospace;
    z-index: 100;
}

.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    width: 300px; /* Could be more or less, depending on screen size */
}

.loginlabel {
    color: white;
    float: left;
    margin-left: 2px;
}

.inputandbutton {
    float: left;
}

.logininput {
    width: 200px;
}

.modal-content .error {
    color: red;
    clear: both;
    margin-top: 2px;
    background: white;
}

/*** Media query ***/
@media only screen and (max-width : 699px){
   h1 {
        font-family: 'Space Mono', monospace;
        font-size: 4em;
        color: #fff;
        line-height:1;
        text-shadow:8px 8px #0A1E2D;
    } 
        
    #bottom{ /*Undo the reverse*/
        -ms-flex-direction: column; /* IE 10 */
        flex-direction:column;
    }
        
    #footer-imgs{
        display: -ms-flexbox; /* IE 10 */
        display:flex;

        -ms-flex-direction: column; /* IE 10 */
        flex-direction:column;
    }

    .footer-img{
        width:100%;
    }

    .footer-img.last {
        width:100%;
    }

    .logininput {
        border: 1px solid black;
        width: 200px;
    } 

    input {
        color: #122621;
        font-family: 'Space Mono', monospace;
        font-variant-ligatures: none;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
    }

    .modal-content {
        margin: 50% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 300px; /* Could be more or less, depending on screen size */
    }

    .loginlabel {
        color: white;
    }

    #hero-img{
        background-image:url(img/trees-small.png);
        height:100%;
        width: 100%;
        /*Center and scale*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hero-title {
        top: 80%;
    }

    #nav a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9em;
    }

}
