body {
   background-image: url("background.jpg");
   color: white;
   font-family: 'Space Mono', monospace;
}

#app {
  .button , .number, .email {
    a , button{
	    margin-left: auto;
	    margin-right: auto;
		color: white;
		margin-top: 15px;
		border-radius: 10px;
		background-color: #042B54;
		padding: 10px;
		width: 250px;
		text-align: center;
		display: block;
		text-decoration: none;
		border: 2px solid white;
  	}
  }
  
  button:disabled {
      background: #dddddd;
      cursor: default;
  }

  .uploads_complete {
    display:none; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 150px; /* 30px from the bottom */
  }

  .uploads_complete.show {
    display: initial; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 150px; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 150px; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 150px; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 150px; opacity: 0;}
  }

  .toolbar {
	margin-left: auto;
	margin-right: auto;
	background: #042B54;
	color: white;
	padding: 10px;
  
    a {
        float: left;
        color: white;
    }

    a:visited {
        color: white;
    }
  }

  .footer {
    margin-top:20px;
  }

  .reception {
    margin: 20px;
  }

  .ceremony {
	margin: 20px;
  }

  .date {
    margin: 20px;
  }

  .time {
    margin: 20px;
  }

  .tap {
    margin-top: 40px;
  }

  .zelda {
    margin-bottom: 20px;
  }

  .zola {
      margin-top:50px;
      img {
          background: white;
      }
  }

  .williamssonoma {
      margin-top:50px;

      img {
          background: white;
      }
  }

  .map {
      position: relative;
      width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;

      .infoWindow {
        position: absolute;
        top: 5%;
        left: 0%;        
        background: white;
        padding: 2px;
        box-shadow: 1px 1px grey;   
		

        .title {
			color: black;
            font-weight: bold;
        }

        .location {
            color: grey;
        }

      }
  }

  .lyft {
      margin-top:20px;

      .lyftButton {
	    margin-left: auto;
	    margin-right: auto;
		color: white;
		margin-top: 20px;
		border-radius: 5px;
		background-color: #ff00bf;
		padding: 5px;
		width: 150px;
		text-align: center;
		display: block;
		text-decoration: none;
	  }
    }
}
