* {
  margin: 0;
  padding: 0;
}

iframe {
    border: 0;
}

html{
    height:100%;
}

body {
    height:100%;
    background-color: #fff;
    color: #122621;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align:center;
    line-height:1.5;
}

input {
        color: #122621;
        font-family: 'Space Mono', monospace;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
        font-variant-ligatures: none;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 6em;
    color: #fff;
    line-height:1;
    font-weight: 700;
    text-shadow:8px 8px #0A1E2D;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom:20px;
    font-family: 'Space Mono', monospace;
}

h3 {
    font-size: 1em;
    font-weight: 800;
    color: #04110D;
    padding-bottom:10px;
}

p{
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}

a {
    color: #122621;
}

a:hover{
    color:#122621;
}

.hidden {
    display: none;
}

.section{
    padding-top:50px;
    padding-bottom:50px;
}

.content{
    max-width:1200px;
    margin:auto;
}

.whole-content {
    display: inline;
}

.whole-content.hidden {
    display: none;
}


/*** Navigation ***/

#nav{
    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row; /* IE 10 */
    flex-direction: row;
    
    justify-content: space-around;
    align-items:center;
    
    background-color: rgba(4,43,84,.6);
    height:40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#nav a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}


/*** Hero image ***/

#hero-img{
    background-image:url(img/Hero.png);
    height:100%;
    width: 100%;
    /*Center and scale*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-title {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
}

#tinyamp{
    /** Make the ampersand in the hero title smaller**/
    font-size:.8em;
}



/*** DETAILS SECTION ***/
#details{
    background-color:#eee;
    width:100%;
    font-family: 'Space Mono', monospace;
    
    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row; /* IE 10 */
    flex-direction:row;
    justify-content: center;

    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap:wrap;

}

.iconstack{
    width:275px;
}

.icon-title{
    font-weight: 700;
    font-size: 1.333em;
    padding-top:10px;
}

.icon-subtitle {
    font-family: 'Open Sans', sans-serif;
}

.icon-link {
    font-family: 'Open Sans', sans-serif;
}

a.amilate {
  cursor:pointer;
  text-decoration:underline;
}

/*** rsvp section ***/

#rsvp{
    background-color:rgba(4,43,84,1);
    width:100%;
    font-family: 'Space Mono', monospace;
    
    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row; /* IE 10 */
    flex-direction:row;
    justify-content: center;

    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap:wrap;
    height: 200px;
    color: white;
}

#rsvp a.rsvp_link {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 20px;
    font-family: 'Space Mono', monospace;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    color:white;
    text-decoration:none;
}

#rsvp a.rsvp_link:hover {
    background-color: #0A1E2D;
    box-shadow: #888 1px 1px 1px;
    text-decoration: none;
}

#rsvp a.rsvp_link:active {
    color: #122622;
    background-color:white;
    text-decoration: none;
}

/*** Where to stay ***/

.hotelview{
    padding-top:20px;
    padding-bottom:20px;

    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row-reverse; /* IE 10 */
    flex-direction:row-reverse;
    
    justify-content: center;
    text-align:left;
    width:100%;
    
}

.hotel-title {
    font-family: 'Space Mono', monospace;
}

.hotel-data{
    padding: 0px 10px 0px 30px;
    max-width: 200px;
}

.hotel-price {
    margin-top:10px;
}

.hotel-book-pending {
    margin-top: 10px;
}

a.hotel-book {
    font-family: 'Space Mono', monospace;
    color: white;
    margin-top:20px;
    border-radius: 5px;
    background-color: #042B54;    
    padding: 5px;
    width: 150px;
    text-align: center;
    display:block;
    text-decoration: none;
}

a.hotel-book:visited {
    color: white;
    text-decoration: none;
}

a.hotel-book:hover {
    background-color: #0A1E2D;
    box-shadow: #888 1px 1px 1px;
    text-decoration: none;
}

a.hotel-book:active {
    color: #122622;
    background-color:white;
    text-decoration: none;
}

button.email {
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 3px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
}

button.email:visited {
    color: white;
    text-decoration: none;
}

button.email:hover {
    background-color: #1B3831;
    box-shadow: #888 1px 1px 1px;
    text-decoration: none;
}

button.email:active {
    color: black;
    background-color:white;
    text-decoration: none;
}

button.login {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #042B54;
    padding: 5px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    margin-top: 5px;
}

button.login:visited {
    color: white;
    text-decoration: none;
}

button.login:hover {
    background-color: #0A1E2D;
    box-shadow: #888 1px 1px 1px;
    text-decoration: none;
}

button.login:active {
    color: black;
    background-color:white;
    text-decoration: none;
}



/*** About area ***/

#aboutus{
    background-color: rgba(4,43,84,1);
    color:#fff;
    margin:0;
    padding-bottom:0px;
    padding-top:0px;
}

#aboutus p {
    line-height: 1.7;
    font-size: .9em;
}

.about-block{
    width:100%;

    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row; /* IE 10 */
    flex-direction:row;

    -ms-flex-grow: 1; /* IE 10 */
    flex-grow:1;

    -ms-flex-align: start; /* IE 10 */
    align-items:flex-start;
    
    text-align:center;
}

.about-img{
    width:50%;
    margin-bottom: -5px;
}

.about-text{
    width:50%;
    padding-top:10px;
}

.about-text a{
    color: #fff;
    text-decoration:underline;
}

.about-text a:visited{
    color: #fff;
    text-decoration:underline;
}

#bottom{ /*Reverse direction for the second*/
    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row-reverse; /* IE 10 */
    flex-direction:row-reverse;
}

.saidyes{
    color:#fff;
    font-family: 'Space Mono', monospace;
    font-size: 2em;
    padding-top:20px;
    text-align:center;
}

/*** Registry ***/

#registry{
    background-color:#eee;
    padding-bottom: 0px;
}

a.registry-link {
    border: 1px solid #eee;
    display: inline-block;
    padding: 5px;
}

a.registry-link:hover {
    border: 1px solid grey;
    border-radius: 5px;
}

/*** FAQs ***/

.faq {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.faq-object{
    margin-bottom:30px;
}

.faq-title{
    font-weight:700;
}

/*** Footer ***/

#footer{
    color:#fff;
    background-color: rgba(4,43,84,1);
    font-size: 0.7em;

}

#footer-imgs{
    display: -ms-flexbox; /* IE 10 */
    display:flex;

    -ms-flex-direction: row; /* IE 10 */
    flex-direction:row;
}

.footer-img{
    width:33%;
}

.footer-img.last {
    width:34%;
}

#footer p{
    padding-top:10px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(4,43,84,1); /* Black w/ opacity */
    background-image: url("img/login_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Space Mono', monospace;
    z-index: 100;
}

.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    width: 300px; /* Could be more or less, depending on screen size */
}

.loginlabel {
    color: white;
    float: left;
    margin-left: 2px;
}

.inputandbutton {
    float: left;
}

.logininput {
    width: 200px;
}

.modal-content .error {
    color: red;
    clear: both;
    margin-top: 2px;
    background: white;
}

/*** Media query ***/
@media only screen and (max-width : 699px){
   h1 {
        font-family: 'Space Mono', monospace;
        font-size: 4em;
        color: #fff;
        line-height:1;
        text-shadow:8px 8px #0A1E2D;
    } 
    
    .iconstack{
        padding-bottom:30px;
    }
    
    .hotelview{
        -ms-flex-direction: column; /* IE 10 */
        flex-direction: column;
    }
    
    .about-block{
        -ms-flex-direction: column; /* IE 10 */
        flex-direction:column;
    }
    
    #bottom{ /*Undo the reverse*/
        -ms-flex-direction: column; /* IE 10 */
        flex-direction:column;
    }
    
    .about-img{
        width:100%;
    }
    
    .about-text{
        width:100%;
    }
    
    .hotel-data{
        max-width:100%;
        padding: 0 10px;
    }
    
    .hotelview{
        text-align:center;
    }
    
    #footer-imgs{
        display: -ms-flexbox; /* IE 10 */
        display:flex;

        -ms-flex-direction: column; /* IE 10 */
        flex-direction:column;
    }

    .footer-img{
        width:100%;
    }

    .footer-img.last {
        width:100%;
    }

    a.hotel-book {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .emailinput {
        border: 1px solid black;
    } 

    .logininput {
        border: 1px solid black;
        width: 200px;
    } 

    input {
        color: #122621;
        font-family: 'Space Mono', monospace;
        font-variant-ligatures: none;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
    }

    .modal-content {
        margin: 50% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 300px; /* Could be more or less, depending on screen size */
    }

    .loginlabel {
        color: white;
    }

    #hero-img{
        background-image:url(img/HeroSmall.png);
        height:100%;
        width: 100%;
        /*Center and scale*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hero-title {
        top: 30%;
    }

    #nav a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9em;
    }

}
